[submodule "lib/eigen.git"]
	path = lib/eigen.git
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "lib/cpp_redis"]
	path = lib/cpp_redis.git
	url = https://github.com/Cylix/cpp_redis.git
