[submodule "lib/eigen.git"]
	path = lib/eigen.git
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "lib/cpp_redis"]
	path = lib/cpp_redis.git
	url = https://github.com/Cylix/cpp_redis.git
[submodule "lib/tinyxml2.git"]
	path = lib/tinyxml2.git
	url = https://github.com/leethomason/tinyxml2.git
[submodule "lib/pybind11.git"]
	path = lib/pybind11.git
	url = https://github.com/pybind/pybind11.git
