[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
redis = "*"
numpy = "*"
"e1839a8" = {path = ".", editable = true}
spatialdyn = {editable = true, path = "."}

[requires]
python_version = "3.5"
